.App {
  height: 100%;
}
.header {
  background-color: black;
  color: antiquewhite;
  padding: 10px;
}

.restaurantContainer {
  display: inline-grid;
  grid-column-gap: 50px;
  grid-row-gap: 100px;
  grid-template-columns: 400px;

}

.container2{
  background-color: rgb(221, 48, 62, 0.7);
  color: #ffffff;
  margin: 10px;
  border-style: solid;
  border: #ffffff
}