body, html {
    height: 100%;
    width: 100%;
    background-image: url('https://media.giphy.com/media/etUKoAn6ni3sv0UkfU/giphy.gif');
    background-repeat: no-repeat;
    background-size: 100%; 
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    margin: 0px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #dd303e;
  }